nav{
    background-color: #e5f9f8;
}

header{
    margin-top: 85px;
    background-color: #e5f9f8;
}

section{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

div{
    padding-left: 80px;
    padding-right:80px;
}

.five{
    background-color: #e5f9f8;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}